body, .texto_in {
    font-family: 'Inter', sans-serif;
    background-color: #F0F5FB;
}
header{     
    background-color: #84AAD0;
    padding: 20px;   
}

.contenido_header {    
    width: 100%; 
    display:flex;
    margin: 0 auto;
}


.contenido_header img{
    height: 75%;
}

.titulo_header {
    color: #0A3871;
    font-weight: bold;        
    font-size: 40px;
    width: 50%; 
    text-align: center;    
    text-transform: uppercase;
    padding-top: 10px;
    
}
main{
    width:940px;
    margin: 40px auto;    
}
.textos{
    display: inline-flex;
}
.texto_in{
    width:600px;   
    margin-right: 20px; 
    border: none;    
    
}
.input_texto_in{   
    background-color:#F0F5FB ;    
    
}
.texto_out{
    background-color: white;
    border-radius: 25px;

}
.texto_out textarea{    
    background-color: white;
    width:250px;
    font-size: 20px;
    font-weight: bold;
    
}
.texto_in, .texto_out{    
    font-family: 'Inter', sans-serif;
    padding: 10px;
    font-size: 20px;   
    height: 600px;
    
}
textarea{
    height: 500px;
    width:100%;
    border: none;  
    padding: 10px;
    font-family: 'Inter';   
    font-weight: bold;
    font-size: 20px;
    resize: none; 
    color: #0A3871;  
    text-transform: lowercase; 
    border-radius: 25px;

}

textarea::placeholder{
    color:#0A3871;
}
textarea:active{
    border-color: #ffffff;
}
textarea:focus{
    outline: none;
}


.informacion{
    font-size: 12px;
    text-align: left;
    line-height: 18px;
    color:#495057;

}

.botones{
    margin-top: 25px;

}
.botones button{
    width:200px;
    border-color: #0A3871;
    text-align: center;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    margin-right: 40px;
    cursor:pointer;
    
}
.botones button:hover{
    background-color: #84AAD0;
    color: black;   
    transition: 400;

}
.btn_encriptar{
    background-color: #0A3871;
    color: #F0F5FB; 
}
.btn_copiar{
    width:320px
}

footer{
    background-color: darkgray;
    
    text-align: center;
    padding: 30px;
    color:white;    
    line-height: 25px;
}

@media  screen and (max-width: 768px) {
    main, .texto_in,.input_texto_out {
        width:600px;   
    }

    .textos{
        flex-direction: column;
        
          
    }
    .texto_in,.exto_out{
       height: auto;
    }
    footer p{
        margin:10px auto;
        
    }
}
@media  screen and (max-width: 375px) {
    main, .texto_in,.texto_out,p {
        width:auto;   
    }
    .contenido_header{
        display: inline;
    }

    .textos{
        flex-direction: column;       
          
    }
    .texto_in,.exto_out{
       height: auto;
       margin:10px 0;
    }
    footer p{
        margin:10px auto;
        
    }
}